* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-template-rows: 100px auto 1fr 100px;
    grid-template-areas:
        'cabecalho cabecalho'
        'titulo titulo'
        'conteudo carrinho'
        'rodape rodape';
    height: 100%;
}

header {
    grid-area: cabecalho;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #072A4E;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

.nav-list li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.6em;
    color: #fff;
}

.auth-links {
    display: flex;
    gap: 10px;
    font-size: 1.6em;
    margin-right: 20px;
}

.auth-links a {
    color: #fff;
    text-decoration: none;
}

.nav-list li:last-child {
    flex-grow: 1;
    justify-content: flex-end;
}

main {
    grid-area: conteudo;
}

aside {
    grid-area: carrinho;
}

footer {
    grid-area: rodape;
}

#carrinho-compras {
    display: flex;
    align-items: start;
}

/* Novo título */
.titulo-principal {
    grid-area: titulo;
    text-align: center;
    font-size: 2em;
    margin: 20px 0 10px;
}

.produtos img {
    width: 200px;
    height: 200px;
}

.produtos {
    transition: transform 0.3s ease;
    cursor: pointer;
    border: solid 1px #E9EAED;
}

.produtos:hover {
    transform: scale(1.05);
    z-index: 10;
}

.btn-add {
   cursor: pointer;
    color: black;
    font-size: 1.5em;
    border: none;
    background: none;
    padding: 0;
    margin: 0; 
}
.btn-sub {
   cursor: pointer;
    color: black;
    font-size: 1.5em;
    border: none;
    background: none;
}
.linha-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.nome-produto {
    flex: 1;
    font-weight: bold;
}

.preco-produto {
    min-width: 90px;
    text-align: left;
}

.controle-quantidade {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantidade {
    width: 20px;
    text-align: center;
    font-weight: bold;
}

.remover-produto {
    margin-left: auto;
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}
